.main-view-title {
    color: grey;
}

TextElement:focus {
    color: rgb(177, 185, 249);
}

TextInputElement:focus, .ask-user-panel {
    border-color: rgb(177, 185, 249);
}

ListElement-item:selected {
    color: rgb(177, 185, 249);
}

Panel, ListElement {
    border-color: rgb(136, 136, 136);
}
